@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height: 90%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7ebfc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    text-align: left;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

button, .button {
    background-color: #008252;
    font-weight: bold;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 1.0s;
}

.button:hover {
    background-color: #005734;
}

.button:active {
    background-color: #013a23;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
