@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height: 90%;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7ebfc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0;
    margin: 0;
    /* text-align: left; */
    display: flex;
    justify-content: baseline;
}

.off-button-container {
    margin: 0 45px 0 20px;
}#off-button {
    margin-top: 50%;
    width: 150%;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #c7ebfc;
    border-radius: 50px 50px 0 0; /* Rounded top corners */
    position: relative; /* Make it a positioning context for the pseudo-elements */
}

/* Pseudo-element for the left corner */
.profile-picture-container::before,
.profile-picture-container::after {
    content: "";
    position: absolute;
    top: 74px;
    left: 100%;
    height: 40px;
    width: 40px;
    background: transparent;

    border-bottom-left-radius: 50%;

    box-shadow: 0 20px 0 0 #c7ebfc;  
    z-index: 0;
}

.profile-picture-container::before {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50%;
    left: -40px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid #ccc;
    z-index: 2;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

button, .button {
    background-color: #008252;
    font-weight: bold;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 1.0s;
}

.button:hover {
    background-color: #005734;
}

.button:active {
    background-color: #013a23;
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
