{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div>
        <h1>Login to Pronote</h1>
        <form method="post" action="/login">
            <label for="pronote_url">Pronote URL:</label><br>
            <input type="text" id="pronote_url" name="pronote_url" required><br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input class="button" type="submit" value="Se connecter">
        </form>
        
    </div>
</div>
{% endblock %}